table {
    font-family: Arial;
    width: 40%;
    text-align: center;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
th, td {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
}
tr:nth-child(even) {
    background-color: #f8dcff;
}
th {
    background-color: black;
    color: white;
}